{% extends "base.html" %}
{% load i18n %}
{% load g3wadmin_tags %}

{% block custom_js_links_page %}
<script>
    ga.QPDND.ANNCSU.init();
    ga.QPDND.ANNCSU.run("{% url 'anncsu-api-gestionecoordinate' anncsu_project.id %}");
    ga.QPDND.ANNCSU.base_url_info_task = '{{ BASE_URL_INFO_TASK }}';
    ga.QPDND.ANNCSU.base_url_kill_task = '{{ BASE_URL_KILL_TASK }}';
    ga.QPDND.ANNCSU.disable_stop_btn();
    {% if anncsu_project.task_id %}
    ga.QPDND.ANNCSU.task_id = "{{ anncsu_project.task_id }}";
    ga.QPDND.ANNCSU.task_results = {% if task_results %}{{ task_results|safe }}{% else %}null{% endif %};
    if ('{{ task_model.state.signal_name }}' == '{{ huey_signals.SIGNAL_EXECUTING }}') {
        ga.QPDND.ANNCSU.taskInfo();
        ga.QPDND.ANNCSU.disable_run_btn();
        ga.QPDND.ANNCSU.stop("{% url 'anncsu-api-killtask' anncsu_project.task_id %}");
        ga.QPDND.ANNCSU.enable_stop_btn();
    }
    if ('{{ task_model.state.signal_name }}' != '{{ huey_signals.SIGNAL_EXECUTING }}') {
        ga.QPDND.ANNCSU.render_task_results();
    }

    // Set huey signals
    ga.QPDND.ANNCSU.huey_signals = {
            'CANCELLED': '{{ huey_signals.SIGNAL_CANCELED }}',
            'COMPLETE': '{{ huey_signals.SIGNAL_COMPLETE }}',
            {% comment %} 'ENQUEUED': '{{ huey_signals.SIGNAL_ENQUEUED }}', {% endcomment %}
            'ERROR': '{{ huey_signals.SIGNAL_ERROR }}',
            'EXECUTING': '{{ huey_signals.SIGNAL_EXECUTING }}',
            'EXPIRED': '{{ huey_signals.SIGNAL_EXPIRED }}',
            'LOCKED': '{{ huey_signals.SIGNAL_LOCKED }}',
            'RETRYING': '{{ huey_signals.SIGNAL_RETRYING }}',
            'REVOKED': '{{ huey_signals.SIGNAL_REVOKED }}',
            'SCHEDULED': '{{ huey_signals.SIGNAL_SCHEDULED }}',
            'INTERRUPTED': '{{ huey_signals.SIGNAL_INTERRUPTED }}'
    };
    

    {% endif %}
</script>
{% endblock %}

{% block page_header %}
    <h1>{% trans 'ANNCSU' %}
    <small>{% trans 'Send to PDND API and reports' %}</small>
    </h1>
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="box box-abstract">
            <div class="box-header with-border"> <h3 class="box-title"><i class="fa fa-file"></i> Actual status</h3></div>
            <div class="box-body">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ num_features }}</h3>
                            <p>{% trans 'Total Features' %}</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-location-pin"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{ num_features_by_status.INVIATO }}</h3>
                            <p>{% trans 'Features SENDED' %}</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-location-pin"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>{{ num_features_by_status.ERRORE }}</h3>
                            <p>{% trans 'Features ERROR' %}</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-location-pin"></i>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="box box-abstract">
            <div class="box-header with-border"> <h3 class="box-title"><i class="fa fa-file"></i> Abstract</h3></div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        {% if object.env_type == 'test' %}
                        <span class="label label-success" style="font-size: 24px; padding: 5px 10px;">{{ anncsu_project.env_type|upper }}</span>
                        {% else %}
                        <span class="label label-danger" style="font-size: 24px; padding: 5px 10px;">{{ anncsu_project.env_type|upper }}</span>
                        {% endif %}
                        <h5 style="font-size: 24px;"><strong>Project</strong>: {{ anncsu_project.project.title }} </h5>
                        <h5><strong>Layer</strong>: {{ layer }}</h5>
                        <h5><strong>Task ID</strong>: <span id="task_id">{{ anncsu_project.task_id }}</span> - <em>Status: 
                            {% if task_model.state.signal_name == huey_signals.SIGNAL_EXECUTING %}
                                <span id="task_status" class="label label-warning blink-animation" style="font-size: 14px; padding: 5px 10px;">{{ task_model.state.signal_name|upper }}</span>
                            {% elif task_model.state.signal_name == huey_signals.SIGNAL_COMPLETE %}
                                <span id="task_status" class="label label-success" style="font-size: 14px; padding: 5px 10px;">{{ task_model.state.signal_name|upper }}</span>
                            {% elif task_model.state.signal_name == huey_signals.SIGNAL_ERROR or task_model.state.signal_name == huey_signals.SIGNAL_EXPIRED %}
                                <span id="task_status" class="label label-danger" style="font-size: 14px; padding: 5px 10px;">{{ task_model.state.signal_name|upper }}</span>
                            {% elif task_model.state.signal_name == huey_signals.SIGNAL_CANCELED or task_model.state.signal_name == huey_signals.SIGNAL_REVOKED %}
                                <span id="task_status" class="label label-default" style="font-size: 14px; padding: 5px 10px;">{{ task_model.state.signal_name|upper }}</span>
                            {% else %}
                                <span id="task_status" class="label label-info" style="font-size: 14px; padding: 5px 10px;">{{ task_model.state.signal_name|upper }}</span>
                            {% endif %}
                        </em></h5>
                        <h5><strong>Start at</strong>: {{ task_model.create_dt }}</h5>
                        <h5><strong>Stop at</strong>: {{ task_model.update_dt }}</h5>
                        <h5><strong>Runtime</strong>: {{ task_duration }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="box box-abstract">
            <div class="box-header with-border"> <h3 class="box-title"><i class="fa fa-file"></i> Runtime</h3></div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-lg btn-primary" id="anncsu_sendToPdnd"><i class="glyphicon glyphicon-upload"></i> {% trans "Send to PDND API" %}</button>
                        <button class="btn btn-lg btn-danger" id="anncsu_stopSendToPdnd"><i class="glyphicon glyphicon-stop"></i> {% trans "STOP send to PDND API" %}</button>
                    </div>
                </div>
                {% if SETTINGS.ANNCSU_MAX_REQUESTS_PER_CICLE > 0 %}
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-12">
                        <h5><strong>Number of features to send per cicle: {{SETTINGS.ANNCSU_MAX_REQUESTS_PER_CICLE}}</strong></h5>

                        <h5><strong>Time interval: {{SETTINGS.ANNCSU_REQUEST_TIME_INTERVAL}} {% if SETTINGS.ANNCSU_REQUEST_TIME_INTERVAL != 'NEXT_DAY' %}seconds{% endif %}</strong></h5>
                    </div>
                </div>
                {% endif %}
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-12">
                        <div class="progress progress-md active">
                            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                <span class="sr-only">0% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id='task_results'></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
    
{% endblock %}