{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load guardian_tags %}
{% load i18n %}

{% block page_header %}
    <h1>
        {% trans 'QPDND Client Settings' %}
      </h1>
{% endblock %}

{% block main_content %}
<div class="row">
<div class="col-md-12 col-xs-12">
    <div class="box">
        <div class="box-header">
            <a href="{% url 'qpdnd-client-setting-add' %}" class="btn btn-info" id="btn-add-client-setting"><i class="ion ion-plus-circled"></i> {% trans 'Client Setting' %}</a>
        </div>
        <div class="box-body">
            <table id="qpdndclientsettings_table" class="table table-hover table-striped" data-widget-type="dataTable">
                <thead>
                    <tr>
                        <th style="width:120px">{% trans 'Actions' %}</th>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'PDND environment' %}</th>
                        <th>{% trans 'Note' %}</th>
                    </tr>
                </thead>
                {% for object in object_list %}
                    <tr id="qpdnd_client_setting_{{ object.pk }}">
                        <td>
                            <span class="col-xs-4 icon">
                                <a href="{% url 'qpdnd-client-setting-update' object.id %}" data-toggle="tooltip" data-placement="top" title="{% trans 'Edit' %}" ><i class="ion ion-edit"></i></a>
                            </span>
                            <span class="col-xs-4 icon">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="{% trans 'Delete' %}"  data-widget-type="deleteItem" data-delete-url="{% url 'qpdnd-client-setting-delete' object.pk %}" data-item-selector="#qpdnd_client_setting_{{ object.pk }}"><i class="ion ion-trash-b"></i></a>
                            </span>
                        </td>
                        <td>{{ object.name }}</td>
                        <td>
                            {% if object.pdnd_env == 'test' %}
                            <span class="label label-success">{{ object.env }}</span>
                            {% else %}
                            <span class="label label-danger">{{ object.env }}</span>
                            {% endif %}
                        </td>

                        <td>{{ object.note|safe }}</td>
                    </tr>
                {% endfor %}
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

</div>
{% endblock %}
